<div class="jumbotron">
        <h1 class="display-4">Track your friend</h1>
        <p class="lead"> 
            This is very simple mobile tracking browser based application.
        </p>
        <hr class="my-4">
        <p>
            It uses browser's navigator object to grab the current location of the device for tracking purpose.
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">
             Start tracking ...
        </a>
        </p>
</div>