.btn-custom{
   background-color: IndianRed;
   color: white;
   border-radius: 0;
}


.fa-right{
   float: right;
   margin: 0 4px;
   cursor: pointer;
}

.status{
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   margin-right: 10px;
}

.never{
   background-color: grey;
}

.pending{
   background-color: yellow;
}

.past{
   background-color: orange;
}

.current{
   background-color: green;
}

.list-group-item.selected{
   background-color: black;
   color: white;
}