<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" [routerLink]="['/']"> 
       <img width="20" height="20" style="margin-right: 10px;" src="assets/track-logo.png"> Track Your Friend 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" > 
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            About 
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" [hidden]="currentUser$">
          <a class="nav-link" [routerLink]="['/login']"> 
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Login </a>
        </li>
        <li class="nav-item dropdown"  [hidden]="!(currentUser$ | async)">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ (currentUser$ | async)?.name}}
          </a>
          <div class="dropdown-menu" style="left: -20px;" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/profile']">
              <i class="fa fa-user" aria-hidden="true"></i>
              Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="" (click)="logout($event)">
              <i class="fa fa-sign-out" aria-hidden="true"></i> 
              Logout
            </a>
          </div>
        </li>
        <!--
        <li class="nav-item" [hidden]="!(currentUser$ | async)">
            <a class="nav-link" href="" (click)="logout($event)"> 
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                 Logout </a>
          </li>
          -->
    </ul>
    </div>
    

</nav>
<div style="height: 3px; background-color: black;"></div>

<div [hidden]="true">
    <div class="alert alert-{{alertMessage.type}}" role="alert">
        <span class="float-right">
            <i class="fa fa-lock"></i>
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </span>  
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      
          <span>
              {{alertMessage.message}}
          </span>
      </div>      
</div>
<br>
<router-outlet></router-outlet>
<footer style="height: 30px;">

</footer>
