.navbar{
    background-color: #DC143C !important;
    
}

.navbar a{
    color: antiquewhite;
}

a.dropdown-item{
    color: chocolate !important;
}

.fa{
    margin: 0 4px;
    cursor: pointer;   
}