<div class="container" *ngIf="(currentUser$ | async) as currentUser">
  <div class="row"> 
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"> 
          <span> Name </span>   
          <b class="float-right"> {{ currentUser.name}} </b>  
        </li>
        <li class="list-group-item"> 
          <span> Mobile </span>  
          <b class="float-right"> {{ currentUser.mobile}}  </b>  </li>
        <li class="list-group-item"> 
          <span> Password </span>
          <b class="float-right"> {{ currentUser.password}}  </b>  </li>
      </ul>
    </div>  
    <div class="col-md-6">
      <app-map [mapHeight]="'150px'"  [lon]="currentUser['lon']" [lat]="currentUser['lat']" ></app-map>
    </div>  
  </div>
</div>

